




        <footer>
            <p>&copy; <%= new Date().getFullYear() %> Zacharias King - Blog Web App</p>
        </footer>
        <script src="/scripts/eventHandlers.js"></script>
    </body>
</html>