




        <footer>
            <p>&copy; <%= new Date().getFullYear() %> Zacharias King - Blog Web App</p>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/scripts/eventHandlers.js"></script>
    </body>
</html>