<nav id="main-navigation" role="navigation">
    <!--<svg> logo--->
  <!-- <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path
      fill="#FF0066"
      d="M31.1,-32.4C45.7,-24.8,66.7,-20.1,69.5,-11.2C72.4,-2.2,57.2,11,46.5,24.2C35.7,37.4,29.4,50.5,17.8,59.1C6.2,67.8,-10.8,72,-17.4,63C-24,54,-20.2,31.7,-29,16.6C-37.9,1.6,-59.3,-6.3,-63.4,-16C-67.5,-25.7,-54.1,-37.1,-40.6,-44.9C-27.2,-52.6,-13.6,-56.7,-2.7,-53.5C8.3,-50.4,16.5,-40,31.1,-32.4Z"
      transform="translate(100 100)"
      id="svg-logo"
    />
  </svg> -->
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
